:root {
    --snau-dark-gray: #373538;
    --snau-bright-red: #E77171;
    --snau-bright-red-hover: #FF7C7C ;
    --footer-height: 100px;
    --overskrift-height: 75px;
    --header-height: 70px;
    
    font-size: 14pt;
}

/* main structure */

.overskrift {
    height: var(--overskrift-height);
}

main {
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
    padding-bottom: 100px;
    width: 80vw;
    margin: 0px auto 0px auto;
}


/* general element styling */
h1 {
    font-size: 3rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.2rem;
}

p {
    margin-left: 20px;
    line-height: 1.5;
}

ul {
    margin-left: 40px;
}

li {
    margin-bottom: 0.5rem;
    line-height: 1.5;
}

strong {
    font-weight: bold;
}

/* header */


/* overskrift */
.overskrift {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    margin-top: 40px;
}

.overskrift h1 {
    margin: 0px 20px 0px 20px;
}

.overskrift img {
    width: 50px;
}

/* main */
/** index **/
.index h2 {
    margin-bottom: 20px;
}

.index h3 {
    margin-bottom: 20px;
}

.index ul {
    list-style: inside circle;
}

.index h3 {
    margin-left: 20px;
    margin-top: 20px;
}

/** info **/
.info {
    margin-top: 30px;
    margin-bottom: 30px;
}

.info h2{
    margin-bottom: 20px;
}


/** participants **/

.participants h2 {
    margin-bottom: 20px;
}

.participants ul {
    margin-top: 20px;
    list-style: inside circle;
}
