main {
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
}

.page-description {
    max-width: 700px;
    margin-top: 20px;
}

laat-filter-list {
    display: block;
    margin-top: 20px;
}

laat-list-filters {
    display: flex;
}

laat-list-filters text-search {
    display: block;
}


laat-list-display {
    display: block;
    margin-top: 20px;
}


.laat-info {
    display: flex;
    align-items: center;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    padding-left: 20px;
}

.laat-info:nth-of-type(2n) {
    background-color: #eeeeee;
}

.laat-info:nth-of-type(2n + 1) {
    background-color: #dddddd;
}

.laat-info .name {
    
}

.laat-info .sjanger {
    margin-left: 10px;
    font-size: 1.5rem;
}
