main {
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
}

.page-description {
    max-width: 700px;
    margin-top: 20px;
}

laat-filter-list {
    display: block;
    margin-top: 20px;
}

laat-list-filters {
    display: flex;
}

laat-list-filters text-search {
    display: block;
}


laat-list-display {
    display: block;
    margin-top: 20px;
}


.laat-info {
    margin-bottom: 1em;
    display: flex;
}

.laat-info .select {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 2px;
    padding-top: 2px;
}

.laat-info .name {
    width: 70%;
}
