/* variabler */
:root {
    --medium-bg: #dddddd;
    --light-bg: #eeeeee;
    --small-font: 12pt;
    --large-font: 14pt;

    --new-color: #FF8989;
    --working-color: #707EEA;
    --finished-color: #aacc70;
    
    font-size: 12pt;
}

/* Smal skjerm */
@media(max-width: 999px) {
    :root {
	font-size: var(--large-font);
    }
}



/* Hovedlayout */
main{
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    flex-grow: 1;

    padding-bottom: 30px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

/* Bred skjerm */
@media(min-width: 1000px) {

    .innsending-boks {
	display: flex;
    }
    
    .send-inn{
	width: 40%;
	margin-right: 20px;
	height: 100%;
	padding-bottom: 20px;
    }

    .innsendt{
	width: calc(60% - 20px);
	height: 65vh;
    }

}


/* Smal skjerm */
@media(max-width: 999px) {
    
    .send-inn{
	width: 100%;
	margin-bottom: 40px;
    }

    .innsendt {
	margin-bottom: 30px;
    }
}

/* Overskrift */
/* Smal skjerm */
@media(max-width: 999px) {
    .overskrift {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
	margin-top: 40px;
    }

    .send-inn h2 {
	text-align: center;
    }
    
    .ingress {
	text-align: center;
	margin-bottom: 40px;
    }
}

/* Bred skjerm */
@media(min-width: 1000px) {
    .overskrift{
	margin-top: 2vh;
	margin-bottom: 40px;
    }
    
    .ingress {
	margin-bottom: 40px;
    }
}

/*** Innsendingsskjema ***/
.send-inn h2 {
    margin-bottom: 30px;
}

/* Ikke lov å endre størrelsen på innspilltekstboks */
textarea {
    resize: none;
}

/* Bred skjerm */
@media(min-width: 1000px) {
    
    .innspill-skjema .overskrift-boks {
	margin-bottom: 10px;
    }

    .innspill-skjema .overskrift-boks input {
	width: 70%;
    }
    
    .innspill-skjema .tekst-boks {
	margin-bottom: 10px;
    }

    .innspill-skjema .overskrift-boks label{
	display: block;
	margin-bottom: 10px;
    }

    .innspill-skjema .tekst-boks label{
	display: block;
	margin-bottom: 10px;
    }

    .innspill-skjema .tekst-boks textarea{
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	height: 30vh;
    }


    .innspill-skjema .send-inn-knapp {
	margin-top: 20px;
	height: 40px;
	min-width: 70px;
	width: 100%;
    }
}


/* smal skjerm */
@media(max-width: 999px){
    .innspill-skjema {
	display: flex;
	align-items: stretch;
	flex-direction: column;
    }

    .innspill-skjema .overskrift-boks {
	display: flex;
	flex-direction: column;
	align-items: center;
    }

     .innspill-skjema .overskrift-boks input {
	 width: 70%;
     }

    .innspill-skjema .tekst-boks {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	margin-bottom: 20px;
    }
    
    .innspill-skjema label {
	margin-bottom: 20px;
    }

    .innspill-skjema .overskrift-boks {
	margin-bottom: 10px;
    }

    .innspill-skjema .send-inn-knapp {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	height: 3em;
    }

    .tekst-boks textarea {
	width: 80%;
	min-height: 30vh;
    }
}

/*** NY FORSLAGSLISTE (gå i git for gammel versjon)***/
.innsendt h2 {
    text-align: center;
    padding-bottom: 30px;
    max-height: 20%;
}


.innsendt .forslagsliste {
    display: flex;
    flex-direction: column;
}

/* smal skjerm */
@media (min-width: 999px) {
    .innsendt .forslagsliste {
	height: 100%;
    }
}

.innsendt hr {
    width: calc(100% - 40px - 4px);
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 2px;
    height: 0px;
}

/*** Filtreringspanel ***/
.forslagsliste {
    background-color: var(--light-bg);
}

.forslagsliste filter-control {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--medium-bg);
    padding: 0px 20px 20px 20px;
}

.forslagsliste .filter-row-top {
    display:flex;
    justify-content: space-between;
    padding: 20px 0px 20px 0px;
    height: calc(50% - 400px);
}


.filter-row-top toggle-button .checkbox {
    width: 1em;
    height: 1em;
    border-style: solid;
    border-width: 2px;
    text-align: center;
}

.filter-row-top toggle-button {
    display: inline-block;
}

.filter-row-top toggle-button .toggle {
    display: inline-block;
    border-style: solid;
    border-width: 2px;
    height: 1em;
    width: 1em;
    text-align: center;
    cursor: pointer;
}


.status-filter-button-row {
    display:flex;
    height: 50%;
}

.status-filter-button-row li {
    flex-grow: 1;
}

.status-filter-button-row toggle-button .toggle{
   width: calc(100% - 40px);
   text-align: center;
   padding: 10px 20px 10px 20px;

   color: white;
   font-size: 1.2em;

   display: flex;
   justify-content: space-between;

   cursor: pointer;
   user-select: none;
}

.status-filter-button-row toggle-button .toggle.new {
    background-color: var(--new-color);
}
.status-filter-button-row toggle-button .toggle.working {
    background-color: var(--working-color);
}
.status-filter-button-row toggle-button .toggle.finished {
    background-color: var(--finished-color);
}

.status-filter-button-row span.checkbox {
    border-style: solid;
    border-width: 2px;
    font-weight: bold;
    height: 1em;
    width: 1em;
    display: inline-block;
}

/*** Innleggsliste ***/
.forslagsliste-innhold {
    width: 90%;
    margin: 20px 10px 0px 20px;
    padding: 0px 30px 50px 0px;
}


/* Smal skjerm */
@media(min-width: 1000px) {
    .forslagsliste-innhold {
	height: 100%;
	overflow: auto;
	display: block;
    }
}


.innlegg-wrap {
    margin-bottom: 30px;
    display: flex;
}

.innlegg-wrap {

}

/*
.innlegg-wrap .statusbeskrivelse {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-right: 1rem;
    font-weight: bold;
    font-size: 1.1rem;
    width: 50px;
    min-width: 50px;
}*/

.innlegg-wrap .side-bar {
    min-width: 10px;
    margin-right: 20px;
}

/* info */
.innlegg-wrap .innlegg-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}

.innlegg-wrap .innlegg-info .innlegg-overskrift h3{
    display: inline;
}

.innlegg-wrap .innlegg-info .innlegg-kategori {
    font-weight: bold;
    font-size: 1.5rem;
    display: inline;
}

.innlegg-wrap .innlegg-info .innlegg-timestamp {
    min-width: 10em;
    align-self: flex-start;
}

.innlegg-wrap .innlegg-forslag {
    width: 100%;
}

/* tekst */
.innlegg-wrap .innlegg-tekst p {
    margin-left: 20px;
    margin-bottom: 10px;
}

/* innlegg-footer */
.innlegg-wrap .innlegg-footer {
    display: flex;
    height: 20px;
}


/* By default, hide these controlls */
.innlegg-wrap .innlegg-footer forslag-status-selection {
    display: none;
}

.innlegg-wrap .innlegg-footer .reaksjon-liste {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}

.innlegg-wrap .innlegg-footer .reaksjon-liste li reaction-elem {
    display: flex;
    align-items: center;
}

.innlegg-wrap .innlegg-footer .reaksjon-liste img{
    height: 20px;
}

.innlegg-wrap .innlegg-footer .reaksjon-liste reaksjon.reaksjon-bra {

}


/* sidebar-farger */
.innlegg-wrap.status-new .side-bar {
    background-color: var(--new-color);
}

.innlegg-wrap.status-working .side-bar {
    background-color: var(--working-color);
}

.innlegg-wrap.status-finished .side-bar {
    background-color: var(--finished-color);
}


