/* variabler */
:root {
    --medium-bg: #dddddd;
    --light-bg: #eeeeee;
    --small-font: 12pt;
    --large-font: 14pt;
    
    font-size: 12pt;
}

/* Smal skjerm */
@media(max-width: 999px) {
    :root {
	font-size: var(--large-font);
    }
}



/* Hovedlayout */
main{
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

/* Bred skjerm */
@media(min-width: 1000px) {

    .innsending-boks {
	display: flex;
	height: 80vh;
    }
    
    .send-inn{
	width: 40%;
	margin-right: 20px;
	height: 100%;
    }
    .innsendt{
	width: calc(60% - 20px);
	height: 60vh;
    }

    .forslagsliste {
	height: 100%;
	overflow: auto;
	display: block;
    }
}


/* Smal skjerm */
@media(max-width: 999px) {
    
    .send-inn{
	width: 100%;
	margin-bottom: 40px;
    }
}

/* Overskrift */
/* Smal skjerm */
@media(max-width: 999px) {
    .overskrift {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
	margin-top: 40px;
    }

    .send-inn h2 {
	text-align: center;
    }
    
    .ingress {
	text-align: center;
	margin-bottom: 40px;
    }
}

/* Bred skjerm */
@media(min-width: 1000px) {
    .overskrift{
	margin-left: 9vw;
	margin-top: 2vh;
	margin-bottom: 40px;
    }
    
    .ingress {
	margin-bottom: 40px;
    }
}

/* Innsendingsskjema */
.send-inn h2 {
    margin-bottom: 30px;
}

/* Ikke lov å endre størrelsen på innspilltekstboks */
textarea {
    resize: none;
}

/* Bred skjerm */
@media(min-width: 1000px) {
    
    .innspill-skjema .overskrift-boks {
	margin-bottom: 10px;
    }

    .innspill-skjema .overskrift-boks input {
	width: 70%;
    }
    
    .innspill-skjema .tekst-boks {
	margin-bottom: 10px;
    }

    .innspill-skjema .overskrift-boks label{
	display: block;
	margin-bottom: 10px;
    }

    .innspill-skjema .tekst-boks label{
	display: block;
	margin-bottom: 10px;
    }

    .innspill-skjema .tekst-boks textarea{
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	height: 30vh;
    }


    .innspill-skjema .send-inn-knapp {
	margin-top: 20px;
	height: 40px;
	min-width: 70px;
	width: 100%;
    }
}


/* smal skjerm */
@media(max-width: 999px){
    .innspill-skjema {
	display: flex;
	align-items: stretch;
	flex-direction: column;
    }

    .innspill-skjema .overskrift-boks {
	display: flex;
	flex-direction: column;
	align-items: center;
    }

    .innspill-skjema .tekst-boks {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	margin-bottom: 20px;
    }
    
    .innspill-skjema label {
	margin-bottom: 20px;
    }

    .innspill-skjema .overskrift-boks {
	margin-bottom: 10px;
    }

    .innspill-skjema .send-inn-knapp {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	height: 3em;
    }

    .tekst-boks textarea {
	width: 80%;
	min-height: 30vh;
    }
}

/* Innsendtliste */
/** Lasteskjerm **/
.load-screen-wrap {
    height: 100%;
    display: block;
    background-color: var(--light-bg) 
}

/** Liste **/
/*** Bakgrunn ***/
.list-background {
    height: 100%;
    display: block;
}

/*** Listeelementer ***/
.innsendt h2{
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
}

.forslag-wrap .info-linje {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.forslag-wrap .info-linje .tittel {
    width: 60%;
}

.forslag-wrap .forslag {
    margin-left: 10px;
}

.light {
    background-color: var(--light-bg);
}

.medium {
    background-color: var(--medium-bg);
}

.forslag-wrap {
    padding: 20px 20px 40px 20px;
}

/* Anna hver med litt ulik farge */
.forslag-wrap:nth-of-type(2n+1) {
    background-color: var(--light-bg);
}


.forslag-wrap:nth-of-type(2n) {
    background-color: var(--medium-bg);
}



/* siste elementet har litt ekstra bunnpadding */
.forslag-wrap:last-of-type {
    padding-bottom: 70px;
}

.forslag-wrap h3 {
    margin-bottom: 10px;
}
