:root {
    --snau-dark-gray: #373538;
    --snau-bright-red: #E77171;
    --snau-bright-red-hover: #FF7C7C ;
    --footer-height: 100px;
}

footer {
    height: var(--footer-height);
    background-color: var(--snau-dark-gray);
    color: white;
    width: 100%;
}
