:root {
    --snau-dark-gray: #373538;
    --snau-bright-red: #E77171;
    --header-height: 70px;
}


.snauweb-header {
    height: var(--header-height);
    display: flex;
    align-items: center;
    background-color: var(--snau-bright-red);
}

.snauweb-header .home-page-link {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.snauweb-header .home-page-link img {
    height: 50px;
}
